<a href="{{ next_cereal }}" class="flex w-10">
  <svg
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 36 72"
    style="enable-background:new 0 0 36 72;"
    xml:space="preserve"
  >
    <style type="text/css">
      .st0{fill:#FFFFFF;}
    </style>
    <polygon class="st0" points="0,0 0,5.7 30.3,36 0,66.3 0,72 36,36 "/>
  </svg>
</a>
