<footer class="bg-gradient-to-b bg-purple">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'link_list' %}
        <h2>{{ block.settings.menu_heading }}</h2>
        <ul role="list">
          {% for menu in block.settings.menu %}
            <li role="listitem">
              <a href="{{ menu.url }}">{{ menu.name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% when 'image_picker' %}
        {{ block.settings.footer_image | image_url: width: 400 | image_tag }}
    {% endcase %}
  {% endfor %}
</footer>

{% schema %}
{
  "name": "Footer",
  "blocks": [
    {
      "type": "link_list",
      "name": "Footer menu",
      "settings": [
        {
          "id": "menu_heading",
          "type": "text",
          "default": "Meet the Monsters",
          "label": "Menu Heading"
        },
        {
          "id": "menu",
          "type": "link_list",
          "label": "Footer link"
        }
      ]
    },
    {
      "type": "image_picker",
      "name": "Footer Image",
      "settings": [
        {
          "id": "footer_image",
          "type": "image_picker",
          "label": "Image",
          "info": "Select an image for the footer"
        }
      ]
    }
  ]
}
{% endschema %}
