@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CoopBold';
  src: url('./coopbold-regular/coopbold-regular.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-style: normal;
  src: url('./helvetica-neue/helvetica-neue-regular.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 67;
  font-style: normal;
  src: url('./helvetica-neue/helvetica-neue-67-medium-condensed.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 67;
  font-style: italic;
  src: url('./helvetica-neue/helvetica-neue-67-medium-condensed-oblique.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 97;
  font-style: normal;
  src: url('./helvetica-neue/helvetica-neue-97-black-condensed.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 97;
  font-style: italic;
  src: url('./helvetica-neue/helvetica-neue-97-black-condensed-oblique.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: bold;
  font-style: normal;
  src: url('./helvetica-neue/helvetica-neue-condensed-bold.ttf') format('truetype');
}
